<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.genesis.apps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.VIBRATE" />




    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:fullBackupContent="false"
        android:name=".comm.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.intro.IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ui.common.activity.WebviewActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ui.common.activity.EntranceActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ui.common.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ui.common.activity.PushDummyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".comm.util.graph.AnotherBarActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".comm.util.graph.PieChartActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".comm.util.graph.StackedBarActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.common.activity.GAWebActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ui.intro.PermissionsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ui.common.activity.ConstraintSetActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/TextInputLayout"/>


        <activity
            android:name=".ui.main.BarcodeActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/CardViewTheme"/>


        <activity
            android:name=".ui.common.activity.CardViewActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/CardViewTheme"/>
        <activity
            android:name=".ui.myg.MyGNotiActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.myg.MyGPrivilegeApplyActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGVersioniActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGMembershipInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGMembershipExtncActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGHomeActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGTermsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGMenuActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGOilPointActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGGAActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGMembershipActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGMembershipUseListActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGMembershipCardPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGOilIntegrationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.myg.MyGOilTermActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.myg.MyGOilTermDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.main.home.MyCarActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.main.home.MyCarDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/TextInputLayout"/>
        <activity
            android:name=".ui.main.home.BtrServiceInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.main.home.BtrBluehandsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.main.home.BtrBluehandsMapActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.main.home.BtrConsultTypeActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.main.home.BtrConsultApplyActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/TextInputLayout"/>

        <activity
            android:name=".ui.main.home.BtrConslHistActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.main.home.BtrChangeActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.main.home.BtrBluehandsListActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.main.home.BtrBluehandsFilterActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.main.AlarmCenterActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.main.AlarmCenterSearchActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.main.SimilarCarActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".ui.main.home.LeasingCarVinRegisterActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/TextInputLayout"/>

        <activity
            android:name=".ui.common.activity.test.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:exported="false"/>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/> <!-- optional (needed if default theme has no action bar) -->

        <activity android:name=".ui.common.activity.test.TestLayoutActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity android:name=".ui.common.activity.ServiceDriveReqActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:exported="false"/>

        <service
            android:name=".fcm.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".ui.common.service.ScreenRecorderService"
            android:foregroundServiceType="mediaProjection"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>