<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.genesis.apps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".comm.MyApplication"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_genesis"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_genesis_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:windowSoftInputMode="stateHidden"
        tools:replace="android:allowBackup,android:name">

        <activity
            android:name=".ui.intro.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.common.activity.DeepLinkActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="genesisapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.activity.WebviewActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.store.StoreWebActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 결제 웹뷰 -->
        <activity
            android:name=".ui.common.activity.PaymentWebViewActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.contents.ContentsSearchActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.contents.ContentsDetailWebActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGEntranceActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.activity.LoginActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.activity.PushDummyActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.common.activity.GAWebActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.intro.PermissionsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.BarcodeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CardViewTheme" />
        <activity
            android:name=".ui.myg.MyGNotiActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGPrivilegeApplyActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGVersioniActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGCouponActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGMembershipInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGMembershipExtncActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGHomeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGPrivilegeStateActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGTermsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGTerms1000Activity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGTerms2000Activity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGTerms0013Activity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGMenuActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.home.SearchAddressActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.myg.MyGOilPointActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGGAActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGMembershipActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGMembershipUseCaseActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGMembershipUseListActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGCreditUseListActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGMembershipCardPasswordActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.myg.MyGOilIntegrationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.myg.MyGOilTermActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.home.MyCarActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout" /> <!-- <activity -->
        <!-- android:name=".ui.myg.MyGOilTermDetailActivity" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="portrait" android:configChanges="screenSize|smallestScreenSize|screenLayout" /> -->
        <activity
            android:name=".ui.main.home.BtrServiceInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.home.BtrBluehandsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.home.BtrBluehandsMapActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.home.BtrConsultTypeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.home.BtrConsultApplyActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.home.BtrConslHistActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.home.MyLocationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.home.BtrBluehandsListActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.AlarmCenterActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".ui.main.home.BtrBluehandsFilterActivity" -->
        <!-- android:screenOrientation="portrait" android:configChanges="screenSize|smallestScreenSize|screenLayout" -->
        <!-- android:exported="false"/> -->
        <activity
            android:name=".ui.main.AlarmCenterSearchActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.SimilarCarActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.SimilarCarContractHistoryActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.SimilarCarContractDetailActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.home.LeasingCarVinRegisterActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.home.WarrantyRepairGuideActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.home.LeasingCarInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.home.LeasingCarRegisterInputActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.ServiceNetworkActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.ServiceNetworkPriceActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.home.LeasingCarHistActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.home.LeasingCarHistDetailActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.insight.InsightExpnMainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.insight.InsightExpnMembershipActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.insight.InsightExpnInputActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.insight.InsightExpnModifyActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.home.RegisterUsedCarActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.home.TsAuthWebViewActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceSOSApplyActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.service.ServiceSOSApplyInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceSOSRouteInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceSOSPayInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.MapSearchMyPositionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.ServiceJoinActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.ServiceTermDetailActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceAutocare2ApplyActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.service.ServiceAutocare3CheckActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.service.ServiceAutocare4ResultActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceHomeToHome2ApplyActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.service.ServiceHomeToHome3CheckActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.service.ServiceHomeToHome4ResultActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceRepair2ApplyActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceRepair3CheckActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.service.ServiceRepair4ResultActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceRepairReserveHistoryActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceRepairImageActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceAirport2ApplyActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceRemoteRegisterActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout" /> <!-- 원격 진단 : 신청 -->
        <activity
            android:name=".ui.main.service.ServiceRemoteListActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout" /> <!-- 원격 진단 : 내역 -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".ui.main.service.ServiceRelapseHistoryActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name=".ui.main.service.ServiceRelapseReqResultActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 하자 재발 현황 조회 -->
        <activity
            android:name=".ui.main.service.ServiceRelapseApply1Activity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" /> <!-- 하자 재발 신청 1단계 -->
        <activity
            android:name=".ui.main.service.ServiceRelapseApply2Activity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" /> <!-- 하자 재발 신청 2단계 -->
        <activity
            android:name=".ui.main.service.ServiceRelapse3Activity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustPan" /> <!-- 하자 재발 3단계 -->
        <activity
            android:name=".ui.main.service.ServiceRelapseApplyExampleActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 하자 재발 신청 예시) -->
        <activity
            android:name=".ui.main.service.CarWashSearchActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout" /> <!-- 세차 지점검색 -->
        <activity
            android:name=".ui.main.service.CarWashHistoryActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout" /> <!-- 세차 예약내역 -->
        <activity
            android:name=".ui.main.service.CarWashRequestActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.service.ServiceDriveReqActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" /> <!-- 대리운전 신청 -->
        <activity
            android:name=".ui.main.service.ServiceDriveReqCompleteActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 대리운전 신청 완료 (신청하고 결제 성공하면 나오는 거) -->
        <activity
            android:name=".ui.main.service.ServiceDriveReqResultActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 대리운전 신청 결과 (현황 조회하면 나오는 거) -->
        <activity
            android:name=".ui.main.service.ServiceDriveHistoryActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 대리운전 이용내역 -->
        <activity
            android:name=".ui.main.service.ServiceReviewActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 세차, 대리운전 리뷰 -->
        <activity
            android:name=".ui.main.service.MaintenanceReserveActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.service.ServiceRepair2PreCheckActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout" />
        <activity android:name=".ui.main.service.ChargeFindActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout" />
        <activity android:name=".ui.main.service.ChargeStationDetailActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout" />
        <activity
            android:name=".ui.main.service.ChargePlaceListActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout" />
        <activity
            android:name=".ui.main.service.ChargeResultActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ChargeReserveHistoryActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceChargeApplyActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.service.ServiceChargeApplyInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceChargeRouteInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.service.ServiceChargePayInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.main.service.CardManageActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.main.service.ServiceChargeBtrReqActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TextInputLayout"
            android:windowSoftInputMode="adjustResize" /> <!-- 픽업앤충전 서비스 신청 -->

        <activity
            android:name=".ui.main.service.ServiceChargeBtrInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /><!-- 픽업앤충전 서비스 안내 -->

        <activity
            android:name=".ui.main.service.ServiceChargeBtrCheckActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /><!-- 픽업앤충전 결제 정보 확인 -->

        <activity
            android:name=".ui.main.service.ServiceChargeBtrResultActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /><!-- 픽업앤충전 신청 완료 -->

        <activity
            android:name=".ui.main.service.ServiceChargeBtrFailActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /><!-- 픽업앤충전 신청 실패 -->

        <activity
            android:name=".ui.main.service.ServiceChargeBtrReserveHistoryActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /><!-- 픽업앤충전 예약 현황/내역 -->
        <activity
            android:name=".ui.common.activity.BluewalnutWebActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /><!-- 간편결제 웹뷰 -->

        <activity
            android:name=".ui.main.DigitalWalletActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /><!-- 디지털 월렛 -->
        <activity
            android:name=".ui.main.UnpaidPayRequestActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" /><!-- 미수금 결제 요청 -->

        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />
        <service android:name=".fcm.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".ui.common.service.ScreenRecorderService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>

</manifest>